/* PIPEDRIVE-LIKE TABLE */
.pd-table {
  @apply border-[none] bg-surface-base;
  font-family: Inter, sans-serif;
}
/* Remove default shadow */
.pd-table .p-datatable-wrapper {
  @apply border-[none];
}
/* -----------------------------------------
     TABLE HEADER
  ----------------------------------------- */
.pd-table .p-datatable-thead > tr > th {
  @apply border bg-surface-base border-border text-text h-[31px] items-center justify-start px-1.5 py-1 border-solid;
  font: 600 14px / 21px "Inter", sans-serif; /* Align header content to left */
  // display: flex;
}
/* No sort icon highlight */
.pd-table .p-datatable-thead > tr > th .p-sortable-column-icon {
  @apply text-gray-gg;
}
/* -----------------------------------------
     TABLE BODY ROWS
  ----------------------------------------- */
.pd-table .p-datatable-tbody > tr {
  @apply transition-[background-color] duration-[0.2s] ease-[ease] h-[31px] border-gray-md border-b border-solid;
}
.pd-table .p-datatable-tbody > tr:hover {
  @apply bg-gray-200;
}
.pd-table .p-datatable-tbody > tr > td {
  @apply text-[13px] text-blue-dd border px-1 py-0 border-solid border-gray-md h-[31px] bg-white;
  font: 14px inter, sans-serif;
}
/* -----------------------------------------
     CHECKBOX (Left-most column)
  ----------------------------------------- */
.pd-table .p-datatable-tbody > tr > td:first-child,
.pd-table .p-datatable-thead > tr > th:first-child {
  @apply pl-3;
}
.pd-table .p-checkbox .p-checkbox-box {
  @apply rounded w-4 h-4 border-2 border-solid border-gray-md bg-white;
}
.pd-table .p-checkbox .p-checkbox-box.p-highlight {
  @apply border-primary-hover bg-primary;
}
/* -----------------------------------------
     ROW HEIGHT MATCHING PIPEDRIVE
  ----------------------------------------- */
/* -----------------------------------------
     ACTION COLUMN (right side menu)
  ----------------------------------------- */
.pd-table .action-col {
  @apply w-10 text-center;
}
/* -----------------------------------------
     PAGINATOR (Pipedrive-like)
  ----------------------------------------- */
.pd-table .p-paginator {
  @apply px-0 py-2.5 border-[none];
}
.pd-table .p-paginator .p-paginator-pages .p-paginator-page {
  @apply text-xs text-gray-700 rounded-md border-[none];
}
.pd-table .p-paginator .p-paginator-pages .p-paginator-page:hover {
  @apply bg-gray-xs rounded-full;
}
.pd-table .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  @apply font-semibold rounded-full bg-gray-300;
}
/* -----------------------------------------
     STRIPED ROWS (optional if enabled)
  ----------------------------------------- */
.pd-table.p-datatable-striped .p-datatable-tbody > tr.p-row-even {
  @apply bg-gray-xs;
}
